<!-- app.component.html -->
<div class="container">
  <app-navbar></app-navbar>
  <h1>Welcome to the Appointment Scheduler</h1>
    <!-- Navigation for 'patient' role -->
    <nav *ngIf="userRole === 'patient'">
        <ul>
            <li><a routerLink="/schedule">Schedule an Appointment</a></li>
            <li><a routerLink="/appointments">View Appointments</a></li>
        </ul>
    </nav>

    <!-- Navigation for 'doctor' role -->
    <nav *ngIf="userRole === 'doctor'">
        <ul>
            <li><a routerLink="/officehour">Post Office Hours</a></li>
            <li><a routerLink="/postedofficehours">View Posted Office Hours</a></li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</div>
